@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Electrolize",sans-serif;
    background-image: linear-gradient(to right, #0f0c29,#302b63,#24243e);
    /* background-image: linear-gradient(to right, #0F2027, #203A43, #24243e); */
    color: white;
    text-shadow: 5px 3px black;
}
#border-check {
    border: solid 2px white;
}
.header-container {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    line-height: 4.5rem;

}
.header-container p{
    font-size: 1rem;
}
.ul-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.ul-container li a{
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: white;
    text-shadow: none;
    color: black;
}
.ul-container li a:hover{
    background-color: black;
    color: white;
}
.section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}